In [16]:
from bs4 import BeautifulSoup
import requests

In [17]:
url = 'https://dsebd.org/latest_share_price_scroll_by_ltp.php'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [ ]:
print(soup.prettify())

In [19]:
table_head=soup.find_all('th')

In [ ]:
table_head

In [21]:
table_head_titles = [title.text.strip() for title in table_head]

In [22]:
print(table_head_titles)

['#', 'TRADING CODE', 'LTP*', 'HIGH', 'LOW', 'CLOSEP*', 'YCP*', 'CHANGE', 'TRADE', 'VALUE (mn)', 'VOLUME']

In [23]:
import pandas as pd

In [24]:
df = pd.DataFrame(columns = table_head_titles)

In [25]:
df

Empty DataFrame
Columns: [#, TRADING CODE, LTP*, HIGH, LOW, CLOSEP*, YCP*, CHANGE, TRADE, VALUE (mn), VOLUME]
Index: []

In [26]:
table = soup.find_all('table', class_='table-bordered')

In [27]:
for row in table:
    a = row.find_all('tr')
column_data = a

In [28]:
for row1 in column_data[1:]:
    myrow_data = row1.find_all('td')
    each_row_data = [data.text.strip() for data in myrow_data]
    
    
    length = len(df)
    df.loc[length] = each_row_data

In [29]:
df

,#,TRADING CODE,LTP*,HIGH,LOW,CLOSEP*,YCP*,CHANGE,TRADE,VALUE (mn),VOLUME
0,1,RECKITTBEN,"3,375.1","3,380","3,369","3,375.1","3,373.1",2,100,1.95,578
1,2,MARICO,"2,776.6","2,875","2,770","2,776.6","2,781",-4.4,179,11.654,"4,195"
2,3,EASTRNLUB,"2,439.6","2,475","2,425.5","2,439.6","2,431.6",8,937,14.382,"5,851"
3,4,UNILEVERCL,"2,376","2,405","2,375","2,377.5","2,388.3",-12.3,40,0.212,89
4,5,BERGERPBL,"1,421.8","1,430","1,409.3","1,421.8","1,415",6.8,465,21.706,"15,321"
...,...,...,...,...,...,...,...,...,...,...,...
392,393,PLFSL,1.1,1.2,1.1,1.1,1.1,0,77,0.53,"481,157"
393,394,BDSERVICE,0,0,0,5.2,5.2,--,0,0,0
394,395,SAVAREFR,0,0,0,215.5,215.5,--,0,0,0
395,396,ATCSLGF,0,0,0,7.5,7.5,--,0,0,0
396,397,VAMLRBBF,0,0,0,5.6,5.6,--,0,0,0

In [30]:
df.to_csv(r'E:\ML\DSEBS3.csv', index = False)