In [73]:
from bs4 import BeautifulSoup
import requests

In [74]:
url = 'https://dsebd.org/dse30_share.php'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [ ]:
print(soup.prettify())

In [76]:
table = soup.find('table', class_='table-bordered')

In [77]:
table_head = table.find_all('th')

In [78]:
table_head_title =[title.text.strip() for title in table_head]

In [79]:
print(table_head_title)

['#', 'TRADING CODE', 'LTP*', 'HIGH', 'LOW', 'CLOSEP*', 'YCP*', '% CHANGE', 'TRADE', 'VALUE (mn)', 'VOLUME']

In [80]:
import pandas as pd
df = pd.DataFrame(columns = table_head_title)

In [81]:
df

Empty DataFrame
Columns: [#, TRADING CODE, LTP*, HIGH, LOW, CLOSEP*, YCP*, % CHANGE, TRADE, VALUE (mn), VOLUME]
Index: []

In [82]:
row_data = table.find_all('tr')

In [84]:
for row in row_data[1:]:
    myrow_data = row.find_all('td')
    each_row_data = [data.text.strip() for data in myrow_data]
    
    length = len(df)
    df.loc[length] = each_row_data

In [85]:
df

,#,TRADING CODE,LTP*,HIGH,LOW,CLOSEP*,YCP*,% CHANGE,TRADE,VALUE (mn),VOLUME
0,1,BATBC,280,281.6,276.6,280,279.4,0.21,"1,901",39.9300,"143,046"
1,2,BEACONPHAR,125.2,127.7,124.1,125.2,125.5,-0.24,"1,449",38.0740,"301,946"
2,3,BRACBANK,70,72,69.8,70,69.7,0.43,825,28.6960,"406,804"
3,4,BSC,116.5,117.8,114.3,116.5,113.5,2.64,"4,089",161.3750,"1,380,930"
4,5,BSCPLC,138.6,140.2,138,138.6,138.1,0.36,958,34.1000,"245,123"
5,6,BXPHARMA,121.9,123.4,118,121.9,117.6,3.66,"1,764",75.0170,"616,867"
6,7,CITYBANK,25.3,25.6,25.1,25.3,25.2,0.40,900,69.1070,"2,720,559"
7,8,DELTALIFE,78.8,79.3,78.3,78.8,78.7,0.13,290,5.0390,"63,868"
8,9,EBL,24.9,25.2,24.8,24.9,25,-0.40,300,14.6470,"587,201"
9,10,GP,298.4,301.5,297.9,298.4,299,-0.20,523,10.9920,"36,743"
10,11,GPHISPAT,20.6,21,20.6,20.6,20.7,-0.48,513,13.5380,"650,958"
11,12,HEIDELBCEM,244.8,248.4,244,244.8,244.6,0.08,202,4.8830,"19,932"
12,13,IDLC,40.8,41.5,40.7,40.8,40.6,0.49,452,12.3930,"301,027"
13,14,JAMUNAOIL,186.3,187.8,186,186.5,186.9,-0.32,317,6.4120,"34,287"
14,15,KBPPWBIL,154.1,156.5,152.8,154.1,153.9,0.13,"3,583",150.3120,"970,839"
15,16,KOHINOOR,569.9,578,558,569.9,559.9,1.79,"1,084",22.0870,"38,745"
16,17,LANKABAFIN,17.1,17.3,17,17.1,17.2,-0.58,576,26.5170,"1,546,919"
17,18,LHB,55.4,55.5,54.5,55.4,54.2,2.21,"1,020",43.2300,"783,878"
18,19,LINDEBD,898.2,906.6,895.6,898.2,906.6,-0.93,724,13.4230,"14,905"
19,20,LOVELLO,97.8,100,97.3,97.8,97.7,0.10,"1,338",58.7510,"596,067"
20,21,MJLBD,97.7,98.8,97.5,97.7,98,-0.31,591,17.0170,"173,671"
21,22,OLYMPIC,157.8,159.4,155,157.8,156,1.15,523,20.7530,"132,382"
22,23,PADMAOIL,198,199,197.5,198,198.3,-0.15,183,4.2840,"21,633"
23,24,PRIMEBANK,28.1,28.5,27.9,28.1,28.4,-1.06,188,8.4710,"300,870"
24,25,PUBALIBANK,28.7,29.2,28.4,28.7,28.5,0.70,171,10.5930,"369,133"
25,26,RENATA,484.6,486.9,484,484.6,482.4,0.46,544,11.0840,"22,844"
26,27,ROBI,29.1,30.1,29,29.1,29.6,-1.69,"1,998",130.8540,"4,442,151"
27,28,SQURPHARMA,218.4,219.3,218.1,218.4,218.2,0.09,879,29.1870,"133,497"
28,29,UNIQUEHRL,40.8,42,40.4,40.8,41.4,-1.45,367,7.2490,"176,170"
29,30,WALTONHIL,467.4,474.8,466,467.4,473.1,-1.20,"2,077",69.8740,"149,058"

In [86]:
df.to_csv(r'E:\ML\mydata.csv',index = False)